In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = df2 = pd.read_excel("../Dataset/only total DB.xlsx")

In [5]:
df1.head(10)

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt,Total Short-Term debt,Gross Total Debt
0,2019,396004.648,177140.029,38202.140680,54898.469,1427773.250,902151.9924,8006.83892,3.004177e+06,749923.965021,3.754101e+06
1,2018,371783.046,164846.794,37716.474900,61659.731,1312755.900,820737.1694,7886.29330,2.777385e+06,664575.063216,3.441960e+06
2,2017,354117.846,150807.784,35129.055463,62426.016,1115514.151,757750.8102,7962.04426,2.483708e+06,571387.000000,3.055095e+06
3,2016,359490.000,149378.000,37177.000000,70001.000,1197176.000,841956.0000,8479.00000,2.663657e+06,553906.000000,3.217563e+06
4,2015,328148.000,136060.000,34350.000000,78915.000,1128501.000,720997.0000,9426.00000,2.436397e+06,535144.314700,2.971542e+06
5,2014,321560.000,148813.000,36910.000000,93275.000,897744.000,624101.0000,8826.00000,2.131229e+06,550985.000000,2.682214e+06
6,2013,279310.000,136329.000,32439.000000,96556.000,762128.000,385202.0000,6839.00000,1.698803e+06,525931.000000,2.224734e+06
7,2012,257088.000,137086.000,31528.000000,97117.000,614623.000,299840.0000,6922.00000,1.444205e+06,399962.000000,1.844167e+06
8,2011,216672.000,114905.000,28163.000000,83112.000,448448.000,230812.0000,7147.00000,1.129258e+06,290149.000000,1.419407e+06
9,2010,193436.000,101976.000,27264.000000,76011.000,319221.000,217062.0000,7480.00000,9.424500e+05,236188.000000,1.178638e+06

In [8]:
df1.columns

Index(['Year', 'Total Multilateral', 'Total Bilateral',
       ' International Monetary Fund', 'Trade Credit',
       'Total Commercial Borrowings', 'NRI & FC(B&O) Deposits', 'Rupee Debt',
       'Total Long-Term Debt', 'Total Short-Term debt', 'Gross Total Debt'],
      dtype='object')

In [9]:
drop_columns = [df1.columns[::-1][0],df1.columns[::-1][1]]
print(drop_columns)

['Gross Total Debt', 'Total Short-Term debt']

In [10]:
df1.drop(drop_columns,inplace=True,axis=1)

In [11]:
df1.head(10)

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
0,2019,396004.648,177140.029,38202.140680,54898.469,1427773.250,902151.9924,8006.83892,3.004177e+06
1,2018,371783.046,164846.794,37716.474900,61659.731,1312755.900,820737.1694,7886.29330,2.777385e+06
2,2017,354117.846,150807.784,35129.055463,62426.016,1115514.151,757750.8102,7962.04426,2.483708e+06
3,2016,359490.000,149378.000,37177.000000,70001.000,1197176.000,841956.0000,8479.00000,2.663657e+06
4,2015,328148.000,136060.000,34350.000000,78915.000,1128501.000,720997.0000,9426.00000,2.436397e+06
5,2014,321560.000,148813.000,36910.000000,93275.000,897744.000,624101.0000,8826.00000,2.131229e+06
6,2013,279310.000,136329.000,32439.000000,96556.000,762128.000,385202.0000,6839.00000,1.698803e+06
7,2012,257088.000,137086.000,31528.000000,97117.000,614623.000,299840.0000,6922.00000,1.444205e+06
8,2011,216672.000,114905.000,28163.000000,83112.000,448448.000,230812.0000,7147.00000,1.129258e+06
9,2010,193436.000,101976.000,27264.000000,76011.000,319221.000,217062.0000,7480.00000,9.424500e+05

In [12]:
df1.replace(0,np.nan,inplace=True)

In [13]:
df1.head(30)

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
0,2019,396004.648,177140.029,38202.140680,54898.469,1427773.250,902151.9924,8006.83892,3.004177e+06
1,2018,371783.046,164846.794,37716.474900,61659.731,1312755.900,820737.1694,7886.29330,2.777385e+06
2,2017,354117.846,150807.784,35129.055463,62426.016,1115514.151,757750.8102,7962.04426,2.483708e+06
3,2016,359490.000,149378.000,37177.000000,70001.000,1197176.000,841956.0000,8479.00000,2.663657e+06
4,2015,328148.000,136060.000,34350.000000,78915.000,1128501.000,720997.0000,9426.00000,2.436397e+06
5,2014,321560.000,148813.000,36910.000000,93275.000,897744.000,624101.0000,8826.00000,2.131229e+06
6,2013,279310.000,136329.000,32439.000000,96556.000,762128.000,385202.0000,6839.00000,1.698803e+06
7,2012,257088.000,137086.000,31528.000000,97117.000,614623.000,299840.0000,6922.00000,1.444205e+06
8,2011,216672.000,114905.000,28163.000000,83112.000,448448.000,230812.0000,7147.00000,1.129258e+06
9,2010,193436.000,101976.000,27264.000000,76011.000,319221.000,217062.0000,7480.00000,9.424500e+05
10,2009,201425.000,104997.000,5188.000000,73772.000,318209.000,210118.0000,7760.00000,9.214690e+05
11,2008,157901.000,78802.000,4479.000000,41296.000,249243.000,174623.0000,8065.00000,7.144090e+05
12,2007,154053.000,70034.000,4484.000000,31237.000,180669.000,179786.0000,8508.00000,6.287710e+05
13,2006,145503.000,70302.000,4378.000000,24175.000,117991.000,161834.0000,9184.00000,5.333670e+05
14,2005,138897.000,74530.000,4503.000000,21976.000,115533.000,143267.0000,10071.00000,5.087770e+05
15,2004,131105.000,77084.000,4381.000000,20553.000,95611.000,135618.0000,11856.00000,4.762080e+05
16,2003,142683.000,79921.000,NaN,23750.000,106843.000,110022.0000,13405.00000,4.766240e+05
17,2002,155633.000,74762.000,NaN,26110.000,113908.000,83712.0000,14807.00000,4.689320e+05
18,2001,145105.000,74519.000,NaN,27625.000,113839.000,77273.0000,17345.00000,4.557060e+05
19,2000,137132.000,79278.000,113.000000,29564.000,86963.000,59120.0000,19218.00000,4.113880e+05
20,1999,129682.000,74304.000,1218.000000,28812.000,89019.000,50048.0000,20077.00000,3.931600e+05
21,1998,116904.000,67104.000,2622.000000,25783.000,67086.000,47050.0000,23204.00000,3.497530e+05
22,1997,105066.000,62891.000,4714.000000,21044.000,51454.000,39527.0000,26978.00000,3.116740e+05
23,1996,98173.000,65740.000,8152.000000,18432.000,47642.000,37802.0000,28150.00000,3.040910e+05
24,1995,89819.000,63761.000,13545.000000,20876.000,40915.000,39006.0000,30315.00000,2.982370e+05
25,1994,82199.000,54580.000,15812.000000,16307.000,38782.000,39729.0000,31634.00000,2.790430e+05
26,1993,77758.000,50258.000,14985.000000,13484.000,36367.000,34941.0000,33149.00000,2.609420e+05
27,1992,68262.000,47603.000,8934.000000,12418.000,35711.000,27384.0000,31956.00000,2.322680e+05
28,1991,40386.000,27378.000,5132.000000,8374.000,19727.000,20030.0000,25199.00000,1.462260e+05

In [14]:
df1.mean()

Year                              2005.000000
Total Multilateral              186044.673793
Total Bilateral                  93627.227828
 International Monetary Fund     16981.487348
Trade Credit                     43433.076414
Total Commercial Borrowings     384461.941414
NRI & FC(B&O) Deposits          257637.930069
Rupee Debt                       15512.247465
Total Long-Term Debt            995941.878759
dtype: float64

In [15]:
df1.fillna(df1.mean(),inplace=True)

In [17]:
df1[20:25]

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
20,1999,129682.0,74304.0,1218.0,28812.0,89019.0,50048.0,20077.0,393160.0
21,1998,116904.0,67104.0,2622.0,25783.0,67086.0,47050.0,23204.0,349753.0
22,1997,105066.0,62891.0,4714.0,21044.0,51454.0,39527.0,26978.0,311674.0
23,1996,98173.0,65740.0,8152.0,18432.0,47642.0,37802.0,28150.0,304091.0
24,1995,89819.0,63761.0,13545.0,20876.0,40915.0,39006.0,30315.0,298237.0

In [18]:
df1=df1[::-1]

In [19]:
df1.head()

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
28,1991,40386.0,27378.0,5132.0,8374.0,19727.0,20030.0,25199.0,146226.0
27,1992,68262.0,47603.0,8934.0,12418.0,35711.0,27384.0,31956.0,232268.0
26,1993,77758.0,50258.0,14985.0,13484.0,36367.0,34941.0,33149.0,260942.0
25,1994,82199.0,54580.0,15812.0,16307.0,38782.0,39729.0,31634.0,279043.0
24,1995,89819.0,63761.0,13545.0,20876.0,40915.0,39006.0,30315.0,298237.0

In [20]:
df1.index=[i for i in range(0,29)]

In [21]:
df1.head()

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
0,1991,40386.0,27378.0,5132.0,8374.0,19727.0,20030.0,25199.0,146226.0
1,1992,68262.0,47603.0,8934.0,12418.0,35711.0,27384.0,31956.0,232268.0
2,1993,77758.0,50258.0,14985.0,13484.0,36367.0,34941.0,33149.0,260942.0
3,1994,82199.0,54580.0,15812.0,16307.0,38782.0,39729.0,31634.0,279043.0
4,1995,89819.0,63761.0,13545.0,20876.0,40915.0,39006.0,30315.0,298237.0

In [22]:
df1.to_csv("cleaned_data.csv")

In [23]:
df2.head()

,Year,Total Multilateral,Total Bilateral,International Monetary Fund,Trade Credit,Total Commercial Borrowings,NRI & FC(B&O) Deposits,Rupee Debt,Total Long-Term Debt
0,2019,396004.648,177140.029,38202.140680,54898.469,1427773.250,902151.9924,8006.83892,3.004177e+06
1,2018,371783.046,164846.794,37716.474900,61659.731,1312755.900,820737.1694,7886.29330,2.777385e+06
2,2017,354117.846,150807.784,35129.055463,62426.016,1115514.151,757750.8102,7962.04426,2.483708e+06
3,2016,359490.000,149378.000,37177.000000,70001.000,1197176.000,841956.0000,8479.00000,2.663657e+06
4,2015,328148.000,136060.000,34350.000000,78915.000,1128501.000,720997.0000,9426.00000,2.436397e+06